* {
   box-sizing: border-box;
}
.container {
   width: 100%;
   height: 100%;
}
.company_logo {
   float: left;
   width: 650px;
   height: 100%;
   background-color: #FFFAF3;
}
.company_logo_sub1 {
   margin-top: 100px;
   color: #666;
}
.company_logo_sub2 {
   margin-left: 150px;
}
.company_logo_sub2 h1{
   size: 30px;
   font-family: KoPubWorldDotumMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.margin_top20_bottom30 {
   margin-top: 20px;
   margin-bottom: 30px;
}


.login {
   float: left;
   width: 500px;
   height: 100%;
   font-family: KoPubWorldDotumMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.login_sub1 {
   margin-top: 160px;
}
.login_sub2 {
   margin: 0 auto;
   width: 350px;
}
.login_sub2 h4 {
   color:#666!important;
}

.login_box {
   margin-top: 70px;
}
.login_box h4 {
   line-height: 0px;
}
.mt40 {
   margin-top: 40px;
}
.mt30 {
   margin-top: 30px;
}
.mt35 {
   margin-top: 35px;
}

input[type=text] {
   width: 100%;
   padding: 12px 10px;
   border-radius: 10px;
   border-color: #666!important;
   border-width: thin;
   
 }

 input[type=password] {
   width: 100%;
   padding: 12px 10px;
   border-radius: 10px;
   border-color:#666!important;
   border-width: thin;
 }

.sign_btn {
   font-size: 13px;
   margin-left: 220px;
   margin-top: 20px;
   padding: 15px 45px;
   background-color: #FFD659;
   border-radius: 30px;
   border: 0px;
   outline: 0px;
   color: black;
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
   cursor: pointer;
}
.sign_btn:hover {background-color:#FFC305}

.sign_btn:active {
  background-color:#FFC305;
  transform: translateY(4px);
}

.login_sub3 {
   margin-top: 20px;
   color: #666!important;
   font-size: 12px;
}

.maintain_login {
   float: left;
}
.find_pw {
   float: left;
   margin-left: 130px;

}
.create_account {
   margin-top: 15px;
   
}
.signUp {
   float: left;
   width: 500px;
   height: 100%;
   font-family: KoPubWorldDotumMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
   color:#666!important;
   
}
.signUp_sub1 {
   margin-top: 60px;
}
.signUp_sub2 {
   margin: 0 auto;
   width: 350px;
}

.signUp_sub2 h4 {
   line-height: 0px;
}

.signUp_condition {
   margin-top: 20px;
   text-decoration: none;
   font-size: 12px; 
   color: #12B5EE;
}
.signUp_btn {
   font-size: 13px;
   margin-left: 220px;
   margin-top: 20px;
   padding: 15px 30px;
   background-color: #FFD659;
   border-radius: 30px;
   border: 0px;
   outline: 0px;
   color: black;
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
   cursor: pointer;
}
.signUp_btn:hover {background-color:#FFC305}

.signUp_btn:active {
  background-color:#FFC305;
  transform: translateY(4px);
}

.pwd_re_sub1 {
   margin-top: 200px;
   margin: 0 auto;
   width: 400px;
   font-family: KoPubWorldDotumMedium,"Helvetica Neue",Helvetica,Arial,sans-serif;
   color:#666!important;
   text-align: center;
}
.pwd_re_sub2 {
   margin: 0 auto;
   margin-top: 20px;
   margin-bottom: 30px;
}
.pwd_re_sub3 {
   margin: 0 auto;
   width: 250px;
}
.find_pwd_btn {
   font-size: 13px;
   margin-top: 30px;
   padding: 15px 30px;
   background-color: #FFD659;
   border-radius: 30px;
   border: none;
   outline: 0px;
   color: black;
   box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
   cursor: pointer;
}
.find_pwd_btn:hover {background-color:#FFC305}

.find_pwd_btn:active {
  background-color:#FFC305;
  transform: translateY(4px);
}
.floating-btn {
   width: 35px;
   height: 35px;
   display: flex;
   position: fixed;
   left: 30px;
   top: 30px;
}
.blank {
   width: 100%;
   height: 50px;
}
.header {
   height: 60px;
   border-bottom: 1px solid #E6E6E6;
   padding: 5px 0;
}
.left_aside {
   float: left;
   flex-grow: 0;
   background-color: black;
   height: 100%;
   width: 250px;

}
.right_aside {
   float: left;
   flex-grow: 0;
   background-color: #1bce24;
   height: 100%;
   width: 200px;
}
.content {
   float: left;
   flex-grow: 1;
   background-color: #925703;
   height: 100%;

}
.main_container {
   width: 100%;
   height: 100%;
   display: flex;
}
.header_left {
   float: left;
   margin-left: 13px;
   align-items: center;
}
.header_right_box {
   float: right;
   margin-right: 20px;
}
.header_setting {
   float: right !important;
   align-items: center;
}
